@import "@styles/drop.css";

.mealList-container {
    background-color: #F5FBFC;
}

.meal-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  overflow: auto;
  white-space: nowrap;
  padding: 17px 17px 40px 17px;
}

.mealCards__container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.last-part-container {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.load {
  display: flex;
  justify-content: center;
}