.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .tooltip-text {
    position: absolute;
    bottom: -45px;
    left: 10px;
    width: 120px;
    height: 43px;
    padding: 3px;
    background: #fff;
    color: #333;
    border-radius: 6px;
    border: 1px solid #35b8be;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }

  [data-theme='dark']  .tooltip-text {
  background-color: var(--input-bg);
  background-image: none;
  color: var(--text-color);
  }
  
  .tooltip:hover .tooltip-text {
    opacity: 1;
    visibility: visible;
  }
  