@import "@styles/drop.css";

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.36px;
  background-color: #35B8BE;
  padding: 9px 27px;
  color: #fff;
}

.button:hover {
  background-color: rgb(128, 201, 209);
  transition: 0.3s;
}



input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mealcard-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .mealcard {
    width: 580px;
    height: 200px;
    background-color: #fff;
    border: 1.5px solid #35B8BE26;
    border-radius: 0.375rem;
    display: flex;
    align-items: center;
    padding: 0 26px;
  }

  [data-theme='dark'] .mealcard {
    background-color: #222222;
    color: #ffffff;
  }

  .mealcard-left {
    display: block;
    width: 140px;
    height: 120px;
  }
  
  .mealcard-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .mealcard-img {
    width: 100%;
  }
  
  .mealcard-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6px;
    padding-left: 26px;
  }
  
  .mealcard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .mealcard-title {
    font-size: 1.125rem;
    line-height: 1.125rem;
    letter-spacing: 0.6px;
  }

  .mealcard-price {
    color: #35B8BE;
    font-size: 0.9375rem;
    line-height: 0.9375rem;
  }
  
  
  .mealcard-footer {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    align-items: center;
  }
  